---
# Launchd handlers

- name: Unload ansible-pull service
  ansible.builtin.command: launchctl unload /Library/LaunchDaemons/com.internal.ansible-pull.plist
  become: true
  failed_when: false
  listen: reload ansible-pull service

- name: Load ansible-pull service
  ansible.builtin.command: launchctl load /Library/LaunchDaemons/com.internal.ansible-pull.plist
  become: true
  listen: reload ansible-pull service

- name: Unload nightly maintenance service
  ansible.builtin.command: launchctl unload /Library/LaunchDaemons/com.internal.nightly-maintenance.plist
  become: true
  failed_when: false
  listen: reload nightly maintenance service

- name: Load nightly maintenance service
  ansible.builtin.command: launchctl load /Library/LaunchDaemons/com.internal.nightly-maintenance.plist
  become: true
  listen: reload nightly maintenance service
