---
# Buildkite handlers

- name: restart buildkite agents
  ansible.builtin.command: brew services restart buildkite/buildkite/buildkite-agent
  register: brew_restart
  changed_when: "'Successfully' in brew_restart.stdout or brew_restart.rc == 0"
  failed_when: false
