---
# Buildkite handlers

- name: Stop all Buildkite agents
  ansible.builtin.shell: |
    for i in $(seq 1 {{ buildkite_agent_count }}); do
      launchctl unload {{ ansible_facts['env']['HOME'] }}/Library/LaunchAgents/com.buildkite.buildkite-agent-${i}.plist 2>/dev/null || true
    done
  args:
    executable: /bin/bash
  listen: restart buildkite agents

- name: Wait for agents to stop
  ansible.builtin.pause:
    seconds: 5
  listen: restart buildkite agents

- name: Start all Buildkite agents
  ansible.builtin.shell: |
    for i in $(seq 1 {{ buildkite_agent_count }}); do
      launchctl load {{ ansible_facts['env']['HOME'] }}/Library/LaunchAgents/com.buildkite.buildkite-agent-${i}.plist 2>/dev/null || true
    done
  args:
    executable: /bin/bash
  listen: restart buildkite agents
