# Ansible
*.retry
.ansible_fact_cache/

# Secrets
*.vault-pass
deploy_key
deploy_key.pub
group_vars/vault.yml

# macOS
.DS_Store
._*

# IDE
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Logs
*.log
