---
# Docker handlers

- name: Quit Docker Desktop
  ansible.builtin.command: osascript -e 'quit app "Docker"'
  failed_when: false
  listen: restart docker

- name: Wait for Docker to stop
  ansible.builtin.pause:
    seconds: 5
  listen: restart docker

- name: Start Docker Desktop
  ansible.builtin.command: open -a Docker
  listen: restart docker

- name: Wait for Docker to be ready after restart
  ansible.builtin.command: docker info
  register: docker_ready
  until: docker_ready.rc == 0
  retries: 30
  delay: 5
  changed_when: false
  listen: restart docker
