<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.internal.nightly-maintenance</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/nightly-maintenance.sh</string>
    </array>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>{{ maintenance_hour }}</integer>
        <key>Minute</key>
        <integer>{{ maintenance_minute }}</integer>
    </dict>

    <key>StandardOutPath</key>
    <string>{{ log_dir }}/nightly-maintenance.log</string>

    <key>StandardErrorPath</key>
    <string>{{ log_dir }}/nightly-maintenance.error.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{ homebrew_prefix }}/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
    </dict>
</dict>
</plist>
