<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.buildkite.buildkite-agent-{{ agent_number }}</string>

    <key>ProgramArguments</key>
    <array>
        <string>{{ homebrew_prefix }}/bin/buildkite-agent</string>
        <string>start</string>
        <string>--spawn</string>
        <string>1</string>
        <string>--config</string>
        <string>{{ homebrew_prefix }}/etc/buildkite-agent/buildkite-agent.cfg</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>StandardOutPath</key>
    <string>{{ log_dir }}/buildkite-agent-{{ agent_number }}.log</string>

    <key>StandardErrorPath</key>
    <string>{{ log_dir }}/buildkite-agent-{{ agent_number }}.error.log</string>

    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>{{ homebrew_prefix }}/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>HOME</key>
        <string>{{ ansible_facts['env']['HOME'] }}</string>
        <key>BUILDKITE_AGENT_SPAWN</key>
        <string>{{ agent_number }}</string>
    </dict>

    <key>ProcessType</key>
    <string>Interactive</string>

    <key>ThrottleInterval</key>
    <integer>10</integer>
</dict>
</plist>
